.hire-me .section-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hire-me .section-content .left {
  flex: 1;
  padding-right: 2rem;
}

.hire-me .section-content .left > p {
  font-size: 1.5rem;
  text-align: justify;
}

.hire-me .section-content .left .info-card {
  display: flex;
  margin: 1.5rem 0;
  align-items: center;
}

.hire-me .section-content .left .info-card i {
  font-size: 1.75rem;
  background: linear-gradient(
    to left,
    var(--color-secondary),
    var(--color-secondary),
    var(--color-primary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hire-me .section-content .left .info-card .info-card-data {
  margin-left: 1.5rem;
}

.hire-me .section-content .left .info-card .info-card-data p:nth-child(2n-1) {
  /* color: rebeccapurple; */
  font-size: 1rem;
  font-weight: 500;
}

.hire-me .section-content .left .info-card .info-card-data p:nth-child(2n) {
  /* color: red; */
  font-size: 1;
  font-weight: 300;
  color: var(--text-secondary);
}

.hire-me .section-content .right {
  flex: 1;
  padding-left: 2rem;
}

.hire-me .section-content .right > p {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(
    to left,
    var(--color-primary),
    var(--color-secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hire-me .section-content .right form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.hire-me .section-content .right form .name-email-box {
  display: flex;
  flex-direction: row;
}
.hire-me .section-content .right form .name-email-box #name {
  flex: 1;
  margin-right: 0.5rem;
}

.hire-me .section-content .right form .name-email-box #email {
  flex: 1;
  margin-left: 0.5rem;
}

.hire-me .section-content .right form input {
  background-color: transparent;
  padding: 1rem;
  border: 2px solid var(--glass-secondary2);
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
}

.hire-me .section-content .right form input:focus{
    border: 2px solid var(--glass-secondary);
    outline: none;

}

.hire-me .section-content .right button {
  background: linear-gradient(
    to right,
    var(--glass-primary),
    var(--glass-secondary),
    var(--glass-primary)
  );
  background-size: 200% auto; /* make background twice as wide horizontally */
  background-position: left center; /* start from left */
  color: white;
  padding: 0.75rem 1rem;
  margin-top: 1.5rem;
  border: 0px;
  border-radius: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s ease;
  font-size: 1rem;
}

.hire-me .section-content .right button:hover {
  transition: 0.3s;
  background-position: right center; /* animate to right on hover */
  /* box-shadow: 0px 0px 8px 0px var(--color-primary); */
  transform: scale(0.99);
}

.hire-me .section-content .right button:focus {
  outline: 1px solid var(--glass-primary);
  outline-offset: 1px;
}
